.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.59003 12.17L6.17 14.59L7.58 16L12 11.58L16.42 16L17.83 14.59L15.41 12.17L17.83 9.75L16.42 8.34L12 12.75L7.58 8.34L6.17 9.75L8.59003 12.17Z' fill='%23363636'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  
  button[type="submit"],
  button[type="button"]  {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover:not([disabled]),
  button[type="button"]:hover:not([disabled]) {
    background-color: #5cbf62;
  }
  
  button[type="submit"]:disabled,
  button[type="button"]:disabled  {
    opacity: 0.5;
    cursor: not-allowed;
  }
  