<h1 mat-dialog-title>Update User</h1>
<div mat-dialog-content>
  <form [formGroup]="userForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Surname</mat-label>
      <input matInput formControlName="surname">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Picture</mat-label>
      <input matInput formControlName="picture">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Sex</mat-label>
      <mat-select formControlName="sex">
        <mat-option value="male">male</mat-option>
        <mat-option value="female">female</mat-option>
        <mat-option value="other">other</mat-option>
      </mat-select>
    </mat-form-field>    
    <mat-form-field appearance="fill">
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="dateOfBirthPicker" formControlName="dateOfBirth">
      <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
      <mat-datepicker #dateOfBirthPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Date of Work Start</mat-label>
      <input matInput [matDatepicker]="dateOfWorkStartPicker" formControlName="dateOfWorkStart">
      <mat-datepicker-toggle matSuffix [for]="dateOfWorkStartPicker"></mat-datepicker-toggle>
      <mat-datepicker #dateOfWorkStartPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Type of Contract</mat-label>
      <mat-select formControlName="typeOfContract">
        <mat-option value="Limited Employment Contract">Limited Employment Contract</mat-option>
        <mat-option value="Unlimited Employment Contract">Unlimited Employment Contract</mat-option>
      </mat-select>
    </mat-form-field>    
    <mat-form-field appearance="fill">
      <mat-label>Contract Duration</mat-label>
      <input matInput formControlName="contractDuration">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Department</mat-label>
      <input matInput formControlName="department">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Number of Vacation Days</mat-label>
      <input matInput formControlName="numberOfVacationDays">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Number of Free Days</mat-label>
      <input matInput formControlName="numberOfFreeDays">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Number of Paid Leave Days</mat-label>
      <input matInput formControlName="numberOfPaidLeaveDays">
    </mat-form-field>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
  <button mat-raised-button color="primary" (click)="updateUser()" [disabled]="!userForm.valid">Update</button>
</div>
